---
title: Le Wagon Middleman boilerplate
---

<div class="banner">

  <div class="wrapper">
    <h1>startup tools</h1>
    <p>Very cool stuff, useful and smart</p>
    <a href="">enter</a>
  </div>

</div>

<div class="container features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="feature feature-one">
        <img src="https://cdn3.iconfinder.com/data/icons/new-basic-vol-1/512/24-01-512.png" alt="">
        <h4>discuss with others</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit, quod magnam. Saepe magni enim cumque, maxime atque at voluptatibus, sit earum officia, cum ea suscipit architecto officiis itaque voluptates.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="feature feature-two">
        <img src="https://cdn3.iconfinder.com/data/icons/new-basic-vol-1/512/9-01-512.png" alt="">
        <h4>Always in sync</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit, quod magnam. Saepe magni enim cumque, maxime atque at voluptatibus, sit earum officia, cum ea suscipit architecto officiis itaque voluptates.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="feature">
        <img src="https://cdn3.iconfinder.com/data/icons/new-basic-vol-1/512/20-01-512.png" alt="">
        <h4>Powerful search</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit, quod magnam. Saepe magni enim cumque, maxime atque at voluptatibus, sit earum officia, cum ea suscipit architecto officiis itaque voluptates.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="feature">
        <img src="https://cdn3.iconfinder.com/data/icons/new-basic-vol-1/512/31-01-512.png" alt="">
        <h4>Share the love</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit, quod magnam. Saepe magni enim cumque, maxime atque at voluptatibus, sit earum officia, cum ea suscipit architecto officiis itaque voluptates.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="newsletter">
 <h2>Get news from us</h2>
 <p>Leave us your mail and get stylus news</p>
 <br>
 <form action='/' class='form-inline'>
   <input type='email' class='form-control' placeholder='plob@gmail.com'>
   <input type="submit" value="Subscribe" class="btn btn-primary">
   <br>
</form>
</div>

 <br>
 <br>
<div id="map" class='maping' ></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);

var myOptions = {
 zoom: 16,
 center: myLatlng,
 scrollwheel: false,
 mapTypeId: google.maps.MapTypeId.ROADMAP,
 styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
 position: myLatlng,
 map: map,
 title: "You are here!"
});
</script>

<!-- Footer -->

<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>







