---
title: Le Wagon Middleman boilerplate
---

<div class="banner">

  <div class="wrapper">
    <h1>startup tools</h1>
    <p>Very cool stuff, useful and smart</p>
    <a href="">enter</a>
  </div>

</div>

<div class="container features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="feature feature-one">
        <img src="https://cdn3.iconfinder.com/data/icons/new-basic-vol-1/512/24-01-512.png" alt="">
        <h4>discuss with others</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit, quod magnam. Saepe magni enim cumque, maxime atque at voluptatibus, sit earum officia, cum ea suscipit architecto officiis itaque voluptates.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="feature feature-two">
        <img src="https://cdn3.iconfinder.com/data/icons/new-basic-vol-1/512/9-01-512.png" alt="">
        <h4>Always in sync</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit, quod magnam. Saepe magni enim cumque, maxime atque at voluptatibus, sit earum officia, cum ea suscipit architecto officiis itaque voluptates.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="feature">
        <img src="https://cdn3.iconfinder.com/data/icons/new-basic-vol-1/512/20-01-512.png" alt="">
        <h4>Powerful search</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit, quod magnam. Saepe magni enim cumque, maxime atque at voluptatibus, sit earum officia, cum ea suscipit architecto officiis itaque voluptates.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="feature">
        <img src="https://cdn3.iconfinder.com/data/icons/new-basic-vol-1/512/31-01-512.png" alt="">
        <h4>Share the love</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odit, quod magnam. Saepe magni enim cumque, maxime atque at voluptatibus, sit earum officia, cum ea suscipit architecto officiis itaque voluptates.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="texte-center">
  <h3>GET NEWS FROM US
  </h3>
  <p>
    Leave us your mail and get stylus news
  </p>
</div>

<form class="form-inline">
  <imput type="email" placeholder=""


</form>







